 {% extends 'plasma/main.html' %} 
 {% load static %} 

{% block content %}
  <link rel = "stylesheet" href = "{% static '/css/about.css' %}">

<div class = "container">
<h1>About</h1> 
<div class = "align-img">
     <img class="responsive-img" height = "300px" width = "300px" src="{% static 'images/about.png' %}"> 
</div>

<div class = "card">
<div class = "about-text"> 
   Are you fully recovered from a verified COVID-19 diagnosis? If so, the plasma in your blood may contain COVID-19 antibodies that can attack the virus. This convalescent plasma is being evaluated as a possible treatment for currently ill COVID-19 patients, so your donation could help save the lives of patients battling this disease! It’s a special gift only those who have recovered from the virus can give, so  help today.   
</div>
</div>
<br>
</div>



{% endblock content %}