 {% extends 'plasma/main.html' %} 
 {% load static %} 

{% block content %}
  <link rel = "stylesheet" href = "{% static '/css/donor.css' %}">
<div class = "container">
<h3>Register as a Donor</h3>
<div class = "card">
<div class = "text">
Thank you for your interest in convalescent plasma donation and JOINING OUR FIGHT TO SAVE LIVES.

While COVID has no proven treatment, it is possible that plasma taken from those who have recovered (convalescent plasma), which has antibodies against the virus, could help.
<br>
Please submit the form below if you meet the following criteria:
<br>
Lab confirmed positive test for COVID-19 (documentation of positive test is required). Positive test can be a nasopharyngeal swab or blood antibody test for COVID-19.
Your symptoms have been gone for 14 days <br>
You are willing to donate plasma (donate up to 8 times) <br>
All information provided will be kept confidential and will only be used to qualify you as a donor. <br>

<h5>Important Reminders</h5>
Documentation of a positive test is required to donate. Positive test can be a nasopharyngeal swab or blood antibody test for COVID-19. <br>
Documentation must include your full name, testing facility or physician, and date of test. <br>
When presenting to donate, donors are asked to bring a face mask or face covering <br>
</div>
</div>
</div>

{% endblock content %}