 {% extends 'plasma/main.html' %} 
 {% load static %} 

{% block content %}

<div class = "container">
<h1>FAQs</h1>
  <div class = "align-img">
     <img class="responsive-img" height = "300px" width = "300px" src="{% static 'images/info.png' %}"> 
  </div>
 <br/>
<hr>
<h5>What is Convalescent Plasma? </h5>
<p>Convalescent refers to anyone recovering from a disease.
 Plasma is the yellow, liquid part of blood that contains
antibodies. Antibodies are proteins made by the body in 
response to infections. Convalescent plasma from 
patients who have already recovered from coronavirus
disease 2019 (COVID-19) may contain antibodies against
COVID-19. Giving this convalescent plasma to
hospitalized people currently fighting COVID-19 may 
 help them recover. FDA has issued an emergency use 
authorization for convalescent plasma to be used 
in hospitalized COVID-19 patients and is being 
investigated for the treatment of COVID-19 
because there is no approved treatment for this
disease. Based on scientific evidence available, 
the FDA concluded this product may be effective in treating COVID-19 and that the known and potential benefits of the product outweigh the known and potential risks of the product in hospitalized COVID-19 patients.
</p>
<hr>

<h5>I Have Fully Recovered From COVID-19. Am I Eligible to Donate Plasma?</h5>
<p>People who have fully recovered from COVID-19 for at least two weeks are encouraged to consider donating plasma, which may help save the lives of other patients. COVID-19 convalescent plasma must only be collected from recovered individuals if they are eligible to donate blood. Individuals must have had a prior diagnosis of COVID-19 documented by a laboratory test and meet other donor qualifications. Individuals must have complete resolution of symptoms for at least 14 days prior to donation. A negative lab test for active COVID-19 disease is not necessary to qualify for donation. 
</p>
<hr>

<h5>How long does CP donation take?</h5>
<p>The actual time spent donating is about 45 minutes.</p>
<hr>

<h5>How frequently can CP be donated?</h5>
<p>CP donors can donate weekly for 4 weeks, or a total of 8 times over 3 months. The minimum time between donations is 7 days.</p>
<hr>
<br><br>
</div>




{% endblock content %}